  <footer class="col">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <h5>ABOUT US</h5>
        <p>We help in landing a right renter/owner</p>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4">
        <h5>DEVELOPERS</h5>
        <p>All Rights are reserved by Shivansh </p>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4">
        <h5>SERVICES</h5>
        <p>Currently we are working on this project only.</p>
      </div>
    
  </footer>