<nav class="navbar container">
  <div class="row">
    <div class="col col-lg-2 col-md-2">
      <label class="logo">Agro Tech</label>
    </div>
    {{!-- <div class="col col-lg-4 col-md-4 Gsearch col-sm-8">
      <span>
        <div class="searchIcon"><a href="#" class=""><i class="fas fa-search icon-color"></i></a></div>
      </span>
      <span>
        <input type="input" placeholder="Search" name="box" class="search-bar ">
      </span>
    </div> --}}
    <div class="navigator">
      <ul>
        <li>
          <a href="http://localhost:3000/">HOME</a>
        </li>
        {{!-- <li>
          <a href="http://localhost:4000/login">LOGIN</a>
        </li> --}}
      </ul>
    </div>

  </div>
</nav>