<!DOCTYPE html>
<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="home.css">
  <title>home</title>
</head>
<script>
  function myFunction() {
    location.replace("http://localhost:3000/")
  }
</script>

<body onload="myFunction()">
  {{!-- {{>navbar}}
  <main class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 farmer">
        <div>
          <h1>ARE YOU A</h1>
          <h1>FARMER</h1>
        </div>
        <div class="farmer-2">
          <h2>
            Click The Below Button to request a Visit
          </h2>
        </div>
        <button type="button" class="btn btn-danger btn-lg button">
          Request Visit
        </button>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img
          src="https://thumbs.dreamstime.com/b/man-indian-clothing-armful-grass-vector-illustration-indian-farmer-orange-clothes-holds-armful-green-grass-158372141.jpg"
          alt="Not loaded" class="farmer-img">
      </div>
      <hr class="pill">
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <img src="merchant_img.jpg" alt="Soon" class="merchant-img">

      </div>
      <div class="col-lg-6 col-md-6 farmer">
        <div>
          <h1>ARE YOU A</h1>
          <h1>MERCHANT</h1>
        </div>
      </div>
      <div class="col merchant-2">
        <h2>
          Move To MarketPlace
        </h2>
        <button type="button" class="btn btn-danger btn-lg button">MarketPlace</button>
      </div>
    </div>
    <div class="col">
      <h1>
        WHO WE
      </h1>
      <h1>
        ARE
      </h1>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          HI TESTING 1
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          HI TESTING 2
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          HI TESTING 3
        </div>
      </div>

    </div>
  </main>
  {{>footer}} --}}
  <div class="loading">
    Loading...
  </div>
</body>

</html>