<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title></title>
	<link rel="stylesheet" href="items.css">
</head>
<body>
<div class="heading">
	<h2>
		TOPIC_NAME
	</h2>
</div>
<div class="col line">
	
</div>
<main class="col">
	<!--div class="col-lg-4 col-md-3 col-sm-5"-->
	<a href="#" >
		<div class="card col-lg-3 col-md-4 col-sm-6 element" >
			<div class="image-container">
				<img src="https://www.parchem.com/images/news/Parchem-2012-Corn-Field.jpg" class="card-img-top" alt="...">
			</div>
                     
                     <div class="card-body">
                     	<div class="col-lg-8 col-md-9 ">
                            <h5>PRICE</h5>
                            <h6>NAME</h6>
                         </div>
                   <div class="col-lg-4 col-md-3 properties">
                   	   <h5>QNTY.</h5>
                   	   <h6>RATING</h6>
                   </div>
                     </div>
						
		</div>
	</a>
	<a href="#">
		<div class="card col-lg-3 col-md-4 col-sm-6 element" >
            <div class="image-container">
				<img src="https://www.parchem.com/images/news/Parchem-2012-Corn-Field.jpg" class="card-img-top" alt="...">
			</div>
                        <div class="card-body">
                     	<div class="col-lg-8 col-md-9">
                            <h5>PRICE</h5>
                            <h6>NAME</h6>
                         </div>
                   <div class="col-lg-4 col-md-3">
                   	   <h5>QNTY.</h5>
                   	   <h6>RATING</h6>
                   </div>
                     </div>
						
					</div>
	</a>
	<a href="#">
		<div class="card col-lg-3 col-md-4 col-sm-6 element" >
            <div class="image-container">
				<img src="https://www.parchem.com/images/news/Parchem-2012-Corn-Field.jpg" class="card-img-top" alt="...">
			</div>
                          <div class="card-body">
                     	<div class="col-lg-8 col-md-9">
                            <h5>PRICE</h5>
                            <h6>NAME</h6>
                         </div>
                   <div class="col-lg-4 col-md-3">
                   	   <h5>QNTY.</h5>
                   	   <h6>RATING</h6>
                   </div>
                     </div>
						
					</div>
	</a>
	<a href="#">
		<div class="card col-lg-3 col-md-4 col-sm-6 element" >
            <div class="image-container">
				<img src="https://www.parchem.com/images/news/Parchem-2012-Corn-Field.jpg" class="card-img-top" alt="...">
			</div>
                        <div class="card-body">
                     	<div class="col-lg-8 col-md-9">
                            <h5>PRICE</h5>
                            <h6>NAME</h6>
                         </div>
                   <div class="col-lg-4 col-md-3">
                   	   <h5>QNTY.</h5>
                   	   <h6>RATING</h6>
                   </div>
                     </div>
						
					</div>
	</a>
	<a href="#">
		<div class="card col-lg-3 col-md-4 col-sm-6 element" >
            <div class="image-container">
				<img src="https://www.parchem.com/images/news/Parchem-2012-Corn-Field.jpg" class="card-img-top" alt="...">
			</div>
                          <div class="card-body">
                     	<div class="col-lg-8 col-md-9">
                            <h5>PRICE</h5>
                            <h6>NAME</h6>
                         </div>
                   <div class="col-lg-4 col-md-3 col-sm-4">
                   	   <h5>QNTY.</h5>
                   	   <h6>RATING</h6>
                   </div>
                     </div>
						
					</div>
	</a>
	<a href="#">
		<div class="card col-lg-3 col-md-4 col-sm-6 element" >
            <div class="image-container">
				<img src="https://www.parchem.com/images/news/Parchem-2012-Corn-Field.jpg" class="card-img-top" alt="...">
			</div>
                        <div class="card-body">
                     	<div class="col-lg-8 col-md-9">
                            <h5>PRICE</h5>
                            <h6>NAME</h6>
                         </div>
                   <div class="col-lg-4 col-md-3">
                   	   <h5>QNTY.</h5>
                   	   <h6>RATING</h6>
                   </div>
                     </div>
						
					</div>
	</a>
	<a href="#">
		<div class="card col-lg-3 col-md-4 col-sm-6 element" >
            <div class="image-container">
				<img src="https://www.parchem.com/images/news/Parchem-2012-Corn-Field.jpg" class="card-img-top" alt="...">
			</div>
                          <div class="card-body">
                     	<div class="col-lg-8 col-md-9">
                            <h5>PRICE</h5>
                            <h6>NAME</h6>
                         </div>
                   <div class="col-lg-4 col-md-3">
                   	   <h5>QNTY.</h5>
                   	   <h6>RATING</h6>
                   </div>
                     </div>
						
					</div>
	</a>
	<a href="#">
		<div class="card col-lg-3 col-md-4 col-sm-6 element" >
            <div class="image-container">
				<img src="https://www.parchem.com/images/news/Parchem-2012-Corn-Field.jpg" class="card-img-top" alt="...">
			</div>
                        <div class="card-body">
                     	<div class="col-lg-8 col-md-9">
                            <h5>PRICE</h5>
                            <h6>NAME</h6>
                         </div>
                   <div class="col-lg-4 col-md-3">
                   	   <h5>QNTY.</h5>
                   	   <h6>RATING</h6>
                   </div>
                     </div>
						
					</div>
	</a>

		
	<!--/div-->

</main>
</body>
</html>